main { 
  color: white;
  position: absolute;
  display: flex;
  background-color: var(--body-bg-color);
  height: 100vh;
  max-width: 47vw;
  min-width: 400px;
  padding: 0 21px;
  flex-direction: column;
  z-index: 2;
}

main h2 {
  color: var(--title-color);
  margin-top: 9em;
  font-weight: 700;
  margin-bottom: 7px;
}

main h3 {
  font-weight: 500;
  margin-bottom: 7px;
}

main > p {
  font-weight: 300;
  margin-bottom: 7px;
}